* {
    padding: 0px;
    margin:0px;
    box-sizing: border-box;    
}

body{
    width: 100%;
    max-height: 100vh;
    height: 100vh;
    font-family:
'Baskervville',sans-serif;
    font-size: 18px;
    position: relative;
    overflow-y:hidden ;
}

.container{
    width:100%;
    height:100%;
    display:flex;
}

.left{
    background:#782c00;
    width: 45%;
    height: 100%;
    overflow-y:hidden ;
    display: flex;
    flex-direction: column;
}

.right{
    width:55%;   
    height: 100vh;
    overflow-x: hidden;
    position: relative; 
}

/* logo section */
.logo{
    width:100%;
    height:100%;
    display:flex;
    margin-right: 0px;
}

#logo{
    width: 50px;
    position: absolute;
    top:10px;
    left:0px;
}

.logo p{
    width:100%;
    height:100%;
    color: white;
    margin-top:10px;
    margin-left: 45px;
    font-weight: bold;
    font-size: 20px;
    margin-right: 0px;
}


/*nav-bar section*/
.nav-links ul li a{
    text-decoration: none;
    color: white;
}

.nav-links {
    position: absolute;
    margin-left: 20px;
    margin-top: 100px;
}

.nav-links ul li{
    margin-bottom: 50px;
}

.nav-links ul{
    list-style: none;      
}

.icon{
    width: 20px;
}

#icon{
    width: 25px;
    border-left: 2px solid white;
    padding-left: 5px;
}

/*menu bar*/
.menu-bar{
    width:90%;
    height:40px;
    background:#f4f4f4;
    margin:auto;
    margin-top:30px;
    margin-bottom: 50px;
    border-radius:4px;
    display: flex;
    justify-content: space-between;
    padding: 10px;
}
.menu-icon img{
    width:25px;
}

/*options for the main dashboard*/

.option{
    background-color: #f4f4f4;
    width:90%;
    height: 70%;
    max-height: 430px;
    padding: 20px;
    padding-bottom: 40px;
    border-radius: 3px;
    margin: auto;
    margin-bottom: 50px;
    margin-top:30px;
}

.content{
    display:grid;
    grid-template-areas: 
    'a b c'
    'd e f';
    width: 90%;
    grid-gap: 10%;
    grid-row-gap: 25%;
    margin: auto;
}

.img img{
    width:30px;
    margin: auto;
}
.img{
    text-align: center;
    padding-top: 10px;
    padding-bottom: 8px;
    background-color:#E4D5CC;
    border-radius: 4px;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-weight: bold;
    box-shadow: 1px 2px 5px rgba(0,0,0,0.4);
}

a{
    text-decoration:none;
    color:black;
}

#a{
    grid-area:a;
}

#b{
    grid-area:b;
}

#c{
    grid-area:c;
}

#d{
    grid-area:d;
}

#e{
    grid-area:e;
}

#f{
    grid-area:f;
    
}
#p{
    margin-left: 5%;
}

/*footer section*/

.footer{
    height: 60px;
    background-color:#E4D5CC;
    bottom: 0;
    margin-bottom: 0;
    padding-top: 10px;
    right: 0;
    position: absolute;
    font-size: 12px;
    padding-top: 3px;
    display: flex;
    justify-content: space-around;
    width: 55%;
}

.copyright{
    font-size: 10px;
    position: absolute;
    right: 0;
    bottom: 0;
}





















/*background-color:#E4D5CC;
    */
@media(min-width:820px){
    .left{
        width:15%;
    }
    .footer, .right{
        width: 85%;
    }
    .nav-links{
        margin-left:5%;
    }
    .footer{
        font-size: 15px;
    }
}

@media(min-width:660px){
    .left{
        width:30%;
    }
    .footer, .right{
        width: 70%;
    }
    .nav-links{
        margin-left:5%;
      }
}

@media(max-width:660px){
    .option{
        height:60%;
    }
   .content{
       grid-row-gap: 20px;
       grid-template-areas: 
       'a b'
       'c d'
       'e f';
   }
   .img{
       height: auto;
   }
   .footer{
       line-height: 10px;
       padding-top: 5px;
   }
}


@media(max-width:800px){
    .img{
        height: auto;
    }
}

@media(max-width:500px){
    .content{
        grid-template-areas: 
        'a'
        'b'
        'c'
        'd'
        'e'
        'f';
        grid-row-gap: 10px;
    }
    .option{
        height: 100%;
        padding-top: 10px;
     }
     #f{
         margin-bottom: 60px;
     }
     .img{
         height: 60px;
         }
}
