*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    width: 100%;
    height: 100vh;
    position: relative;
    font-size: 18px;
    font-family: 'Baskervville',sans-serif;
}

.container{
    width: 100%;
    height: 100vh;
    display: flex;
}


.left{
    background:#782c00;
    width: 45%;
    overflow:hidden ;
    display: flex;
    flex-direction: column;
}

.right{
    width: 55%;
    overflow-x: hidden; 
}

/* logo section */
.logo{
    width:100%;
    height:100%;
    display:flex;
    margin-right: 0px;
}

#logo{
    width: 50px;
    position: absolute;
    top:10px;
    left:0px;
}

.logo p{
    width:100%;
    height:100%;
    color: white;
    margin-top:10px;
    margin-left: 45px;
    font-weight: bold;
    font-size: 20px;
    margin-right: 0px;
}

/*nav bar link section */
.nav-links ul li a{
    text-decoration: none;
    color: white;
}

.nav-links {
    position: absolute;
    margin-left: 20px;
    margin-top: 100px;
    overflow-y: scroll;
}

.nav-links ul li{
    margin-bottom: 50px;
}

.nav-links ul{
    list-style: none;      
}

#icon{
    width: 20px;
}

/*the main part of the download pg*/
.input_file{
    margin: auto;
    width:60%;
    text-align: center;
    background: #E4D5CC;
    padding:2em;
    border-radius: 5px;
}
#label{
    margin: auto;
    width: 70%;
    color: #782c00;
    font-weight: bold;
}

#cfile{
    margin: auto;
    margin-top: 30px;
    width: 90%;
    background-color: #782c00;
    border-radius: 3px;
}
.button{
    width: 50%;
    margin: auto;
    padding: 10px 0px;
    font-family: 'Baskervville',sans-serif;
    color: white;
}

.content{
    width: 80%;
    margin: auto;
    margin-top: 50px;
    background-color:rgba(0,0,0,0.1);
    padding-top: 40px;
    padding-bottom: 40px;
    border-radius: 4px;
}

.input_file p{
        display:block;
        font-weight: bold;
        color: #782c00;
    }
.input_file span{
        display: block;
        margin-top: 30px;
        margin-bottom: 20px;
    }

/*second section for inputing files*/
.input_file1 {
    margin-left: 20%;
}
.input_file1 p{
    margin-top: 10px;
    margin-bottom: 20px;
    font-size: 13px;
}

#sizes{
    width: 50%;
    padding: 5px 10px;
}

#info{
    margin-bottom: 20px;
}

select, option{
    padding: 10px 5px;
    width: 50%;
    font-family: 'Baskervville',sans-serif;
    box-shadow: 50px rgba(0,0,0,0.4);
}
.outputFormat {
    margin-top: 40px;
}

.append{
    margin-top: 30px;
    line-height: 35px;
}

@media(min-width:820px){
    .left{
        width:15%;
    }
    .right{
        width: 85%;
    }
    .nav-links{
        margin-left:5%;
    }
}

@media(min-width:660px){
    .left{
        width:25%;
    }
    .right{
        width: 80%;
    }
    .nav-links{
        margin-left:5%;
      }
}