*{
    padding: 0px;
    margin: 0px;
    box-sizing:border-box;
}

body{
    width:100%;
    height:100vh;
    font-family: 'Baskervville',sans-serif;
    font-size:18px;
    
}

.container {
    width: 100%;
    height: 100vh;
     margin-top; 40px;
    overflow-x: hidden;
    position: relative;
}

/* nav bar */
.nav-bar{
    display:flex;
   justify-content:space-between;
    width:100%;
    height:50px;
    position: relative;
/*     top:0px; */
    margin-bottom: 100px;
}
/* logo section */
.logo{
    width:50%;
    height:100%;
    display:flex;
    margin-left: 10px;
}

.logo p{
    width:100%;
    height:100%;
    margin-top:10px;
    font-weight: bold;
}

/*nav bar link section */
.nav-links {
    width:50%;
    height:100%; 
    margin:10px; 
    display: none;
}

.nav-links ul {
    display:flex;  
    justify-content: space-around;
    list-style-type: none;
}

#Su{
    background-color:#782c00;
    color: white;
    border-radius: 3px;
    padding: 5px 16px;
    font-weight: bold;
}

#Si{
    border-radius: 3px;
    border:2px solid #782c00;
    padding: 5px 16px;
    font-weight: bold;
}
    

.nav-links ul li a, .side-bar a{
    text-decoration: none;
    width: 100%;
    font-size: 16px;
    color: white;
}

.nav-links ul li a{
    color: black;
}

  /* side bar section */

.side-bar ul{
    list-style-type: none;
    background-color: #782c00;
    position: absolute;
    padding: 10px;
    top: 60px;
    right: 10px;
    line-height: 40px;
    border-radius: 4px;
}

.side-bar li:hover{
    border-bottom:1px solid white;
    cursor: pointer;
    
}
.side-bar{
    display: none;
    
}


#menu{
    position: absolute;
    z-index: 1;
    width: 50px;
    top: 0px;
    right: 10px;
}
 
/* content of the page */
.fstCont{
    width:90%;
    border: 2px solid #782c00;
    border-radius: 3px;
    text-align: center;
    margin: auto;
    margin-top: 100px;
    padding: 150px 20px;
    box-shadow: 1px 3px 5px rgba(0,0,0,0.4);
    position:relative;
}
.fstCont > h2{font-size: 30px;}
.fstCont > p{
    margin: 20px 0;
}
.fstCont button{
    padding: 10px 25px;
    background-color: #782c00;
    border-style: none;
    font-family: 'Baskervville',sans-serif;
    color: white;
    border-radius: 3px;
    margin-top: 60px;
}

.sndCont{
    width: 70%;
    margin: auto;
    margin-bottom: 40px;
    text-align: center;
}
.sndCont p{
    box-shadow:-3px 3px 2px #782c00 ;
    margin-bottom: 30px;
    border-radius: 5px;
    padding: 30px 50px;
    background-color: #a1a1a1;
}
.sndCont h3{
    font-size: 20px;
    margin: 50px auto;
}
/*file icons for Json and Csv*/
.file{
    width: 90%;
    height: 50px;
    margin: auto;
    display: flex;
    justify-content: space-around;
    margin-bottom: 40px;
    font-size: 14px;
}
.file img{
    width: 50px;
    margin: auto;
}

.file1{
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: auto;
    box-shadow:1px 2px 2px rgba(0,0,0,0.4);
    padding: 10px 20px;
}
/*main image 1*/
.img {
    width: 90%;
    height: 50%;
    margin:40px auto;
    display: flex;
    justify-content: space-between;
    overflow: hidden;
}
.img img{
    width: 100%;
    height: 100vh;
    margin: 50px 0px;
    object-fit: fit;
}

/*information about the website .info*/
.info{
    display: flex;
    justify-content: space-between;
    gap:25px;
    width: 90%;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 50px;
}

.jsoninfo, .csvinfo{
    background-color:#e4d5cc;
    width: 50%;
    padding: 50px;
    overflow: hidden;
    padding-bottom: 20px;
}

.jsoninfo p, .csvinfo p {padding-bottom: 30px;}

span h3{
    margin-top: 100px;
    margin-left: 5%;
}
span > h4{
    margin-bottom: 30px;
}

.button{
    border-style: none;
    margin-top: 40px;
    padding:10px 25px;
    font-family: 'Baskervville',sans-serif;
    background-color: #782c00;
    color: white;
    border-radius:3px ;
    text-decoration: none;
}
.button:hover{
    cursor: pointer;
    background-color: #b64c0e;
    color: #fff;
}

#button{
    cursor: pointer;
    padding: 25px;
    margin-left: 10px;
    background-color: #f4f4f4;
    border: 1px solid #ddd0d0;
    border-radius: 8px ;
    color: black;
}
."footer1"{
display: flex;
 justify-content: space-between;   
}









@media(min-width:660px){
    .hide-sidebar{display: none;}
    .nav-links{
        display: block;
    }
    #button{
        padding: 5px 10px;
    }
  }
@media(max-width:670px){
    .nav-links ul li a{ margin-right: 5px;}
    .nav-links ul li{font-size:12px;}
    .nav-links{width:70%;}
}

@media(max-width:800px){
    .nav-links{
        width: 70%;
      }
    .nav-links ul li a{
        margin-left: 10px;
    }
    #signup{
        padding: 2px;
       }
} 
