*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.container{
    padding: 25px;
}
.nav-bar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 60px;
}
.btn1 > button{
    background-color: #D9D9D9;
    width: 160px;
    padding: 14px;
    border: none;
    border-radius: 25px;
}
.btn2 > button{
    background-color: #D9D9D9;
    width: 70px;
    padding: 10px;
    border: none;
    border-radius: 20px;
}
.btn3 > button{
    background-color: #D9D9D9;
    width: 70px;
    padding: 10px;
    border: none;
    border-radius: 20px;
}
main{
width: 1100px;
}
main > h2{
   margin-bottom: 50px;
}
h3{
    margin: 20px 0;
    
}
p{
    padding-bottom: 10px;
    font-size: 15px;
}
.box{
    text-align: center;
    margin-bottom: 60px;
}
input{
    width: 500px;
    height: 400px;
    margin-top: 350px;
    border: none;
    background-color: #D9D9D9;
}
