{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Chunk Page</title>
    <link rel="stylesheet" href="{% static 'css/chunkpg.css' %}">
    
    <link rel="preconnect" href="https://fonts.googleapis.com"><link rel="preconnect" href="https://fonts.gstatic.com" crossorigin><link href="https://fonts.googleapis.com/css2?family=Baskervville&display=swap" rel="stylesheet"></head>
<body>
    <div class="container">
        <div class="left">
            <div class="logo">
            <img id="logo" src="{% static 'images/logo.svg' %}">
            <p>Chunk-It</p>
        </div>
              
              
   <div class="nav-links">
        <ul>
                <li><img class="icon" src="{% static 'images/home.svg' %}" alt=""> <a href="{% url 'chunk_it:dashboard' %}">Home</a></li>
                <li><img id="icon" class="icon" src="{% static 'images/file.svg' %}" alt=""> <a href="">Chunk File</a></li>
                <li><img class="icon" src="{% static 'images/globe.svg' %}" alt=""> <a href="">History</a></li>
                <li><img class="icon" src="{% static 'images/download.svg' %}" alt=""><a href="">Download</a></li>
                <li><img class="icon" src="{% static 'images/call.svg' %}" alt=""> <a href="{% url 'chunk_it:contact'%}">Contact Us</a></li>
                                
            </ul>
        </div>
</div>
        
        
        <div class="right">
            <div class="logout">
            <a href="{% url 'logout' %}?next={% url 'chunk_it:landingpg' %}">Log out</a>
            </div>

       <div id="blur">                 
            
            <div class="content">
                
                <div class="input_file">
         <form enctype="multipart/form-data" action="{% url 'chunk_it:chunk' %}" method="POST">
            {% csrf_token %}
               <p>Drag and Drop a File</p>
                        <span>OR</span>
                        <!-- <button>Upload File</button> -->
                    <label id="label" for="Upload">Select a CSV / JSON file</label>
                     {{form.file.errors}}
            <span id="cfile" >   {{ form.file }}</span>
              {% comment %} </form> {% endcomment %}
          </div>

          <div class="input_file1">
                 <p class="info">File must not exceed 1000MB</p>
                
                {% comment %} <form onsubmit="return myFunction();" action="{% url 'chunk_it:chunk' %}"  method="POST">
                    {% csrf_token %} {% endcomment %}
                    <label class="sizes">Select sizes of chunks</label>
                    {{form.size_num.errors}}
                    {{ form.size_num }}<br>
            <div class="append">    <br>
                    
        {% comment %} <input type="radio" name="format" value="KB"/><label for="KB">KB</label><br>
        <input type="radio" name="format" value="MB"/><label for="MB">MB</label><br>
           <input type="radio" name="format" value="GB"/><label for="GB">GB</label><br></div> {% endcomment %}
           {{form.size_string.errors}}
           {{ form.size_string}}
        
                
          <div class="outputFormat">      <label>
            {{form.file_type.errors}}

                    Select Output Format</label>
                    {{ form.file_type}}
              </div>  
              <input type="submit" class="submit" value="Chunk File">
                
            </form>

            </div>
            
           
            
        </div>   
        
                 
        
        
      </div>   
      
          <div class="downloadpg" id="download">
        <p id="p" >Here are your chunked files</p>
        <div class="fileimg">
          <img src="{% static 'images/folder.svg' %}" alt="">  
        </div>
        
        <div class="links">
            <p>Files not downloaded are automatically deleted after 24hours</p>
            <a href="{% url 'chunk_it:chunk' %}">Download</a><br>
            <a href="">Save</a>  
        </div>
        
         </div>

        <div class="footer">
            <p><a href="{% url 'chunk_it:privacy' %}"  >Privacy Policy</a></p>     
           <p>API Developement</p>
<p>Terms and Services</p>
    
    <div class="copyright">
        &copy; Zuri Team_Frogpp 2022
    </div>

        </div>

    </div>
    
        
    
    
    
    
    
  <script src="{% static 'js/index.js' %}"></script>  
</body>
</html>

