
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Chunk Page</title>
    <link rel="stylesheet" href="dashboard1.css">
    
    <link rel="preconnect" href="https://fonts.googleapis.com"><link rel="preconnect" href="https://fonts.gstatic.com" crossorigin><link href="https://fonts.googleapis.com/css2?family=Baskervville&display=swap" rel="stylesheet"></head>
<body>
    <div class="container">
        <div class="left">
            <div class="logo">
            <img id="logo" src="images/logo.svg">
            <p>Chunk-It</p>
        </div>
              
              
   <div class="nav-links">
        <ul>
                <li><img class="icon" src="images/home.svg" alt=""> <a href="">Home</a></li>
                <li><img id="icon" class="icon" src="images/file.svg" alt=""> <a href="">Chunk File</a></li>
                <li><img class="icon" src="images/globe.svg" alt=""> <a href="">History</a></li>
                <li><img class="icon" src="images/download.svg" alt=""><a href="">Download</a></li>
                <li><img class="icon" src="images/call.svg" alt=""> <a href="contactus.html">Contact Us</a></li>
                                
            </ul>
        </div>
</div>
        
        
        <div class="right">
            <div class="logout">
            <a href="signin.html">Log out</a>
            </div>
            
            
            <div class="content">
                
                <div class="input_file">
         <form method="POST">
               <p>Drag and Drop a File</p>
                        <span>OR</span>
                        <!-- <button>Upload File</button> -->
                    <label id="label" for="Upload">Select a CSV / JSON file</label>
            <span id="cfile" >   <input type="file" class="button" name="Upload" placeholder="Browse" accept=".csv, .json"/></span>
              </form>
          </div>

          <div class="input_file1">
                 <p class="info">File must not exceed 5000MB</p>
                
                <form action="dashboarddwnld.html" method="GET">
                    <label class="sizes">Select sizes of chunks</label>
                    <input type="number" id="sizes" name="sizes" min="1" placeholder="Size" /><br>
            <div class="append">     <input type="radio" name="format" value="Bytes"/><label for="Bytes">Bytes</label><br>
                    
        <input type="radio" name="format" value="KB"/><label for="KB">KB</label><br>
        <input type="radio" name="format" value="MB"/><label for="MB">MB</label><br>
           <input type="radio" name="format" value="GB"/><label for="GB">GB</label><br></div>
                
          <div class="outputFormat">      <label>
                    Select Output Format</label>
                    <select >
                        <option value="Choose Format">Choose Format</option>
                        <option value="JSON">JSON</option>
                        <option value="CSV">CSV</option>
                    </select>
              </div>  
  <input type="submit" value="Chunk File">
                
            </form>

            </div>
            
           
           <div class="footer">
               
           </div> 
            
        </div>                
    </div>

        
    
</body>
</html>
