{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dashboard</title>
    
    <link rel="stylesheet" href="{% static 'css/dashboard.css' %}">
    
    <link rel="preconnect" href="https://fonts.googleapis.com"><link rel="preconnect" href="https://fonts.gstatic.com" crossorigin><link href="https://fonts.googleapis.com/css2?family=Baskervville&display=swap" rel="stylesheet">
</head>
<body>
    <div class="container">
        <div class="left">
           <div class="logo">
            <img id="logo" src="{% static 'images/logo.svg' %}">
            <p>Chunk-It</p>
        </div>
              
              
   <div class="nav-links">
        <ul>
                <li><img class="icon" src="{% static 'images/home.svg' %}" alt=""> <a href="">Home</a></li>
                <li><img id="icon" class="icon" src="{% static 'images/file.svg' %}" alt=""> <a href="{% url 'chunk_it:chunk' %}">Chunk File</a></li>
                <li><img class="icon" src="{% static 'images/globe.svg' %}" alt=""> <a href="">History</a></li>
                <li><img class="icon" src="{% static 'images/download.svg' %}" alt=""><a href="">Download</a></li>
                <li><img class="icon" src="{% static 'images/call.svg' %}" alt=""> <a href="{% url 'chunk_it:contact' %}">Contact Us</a></li>
                                
            </ul>
        </div>
</div>
        
        <div class="right">
            <div class="menu-bar">
           <span class="menu-icon">
          <img src="{% static 'images/menu1.svg' %}">     
           </span>     

<span class="menu-icon">
        <img src="{% static 'images/toggle.svg' %}">       
        <img src="{% static 'images/bell.svg' %}">
        <img src="{% static 'images/profile.svg' %}">        
           </span>     
         </div>
       
   <div id="p"><p>Welcome Back</p>
</div>             
         <div class="option">
       <div class="content"> <div class="img" id="a" >
            <a href="{% url 'chunk_it:chunk' %}"><img src="{% static 'images/folder.svg' %}"></a></img>
           <p>Chunk File</p> 
        </div>
        
         <div class="img" id="b">
            <a href=""><img src="{% static 'images/tools.svg' %}"></a></img>
           <p>Tools</p> 
        </div>
        
         <div class="img" id="c">
            <img src="{% static 'images/globe1.svg' %}"></img>
           <p>History</p> 
        </div>
        
         <div class="img" id="d">
            <img src="{% static 'images/settings.svg' %}"></img>
           <p>Settings</p> 
        </div>
        
         <div class="img" id="e">
            <img src="{% static 'images/download1.svg' %}"></img>
           <p>Downloads</p> 
        </div>
        
         <div class="img" id="f">
            <a href="{% url 'chunk_it:contact' %}"><img src="{% static 'images/call1.svg' %}"></img>
           <p>Contact Us</p></a> 
        </div>   </div>  
        
        
         </div>   
            
            <div class="footer">
           <p><a href="{% url 'chunk_it:privacy' %}">Privacy Policy</a></p>     
           <p>API Developement</p>
           <p>Terms of Services</p>
                       
        </div>
        
        
        
    </div>
        
    
    
    
    
</body>
</html>
