{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Chunk-It Login</title>
</head>
<body>
    
</body>
</html><!DOCTYPE html>
<html>

<head>
    <link href="{% static 'css/signin.css' %}" rel="stylesheet"/>
    
    <title>Login</title>
    
    <link rel="preconnect" href="https://fonts.googleapis.com"><link rel="preconnect" href="https://fonts.gstatic.com" crossorigin><link href="https://fonts.googleapis.com/css2?family=Baskervville&display=swap" rel="stylesheet">
</head>

<body>
  
  <div class="signin">
      
      <div class="left">
          <img src="{% static 'images/bg3.png' %}"></img>
      </div>
      
      <div class="right">
          
          <div class="content">
              <h2>Welcome back to our space!</h2>
              
              <form action="{% url 'chunk_it:login' %}" method='POST'>

                {{ form.username.errors }}
                <label>{{ form.username.label_tag }}</label><br>
                {{ form.username }}<br>
          
          <div class="password">
            {{ form.password.errors }} 
               <label>{{ form.password.label_tag }}</label><br>
               {{ form.password }}  
       <img src="{% static 'images/eye-off.svg' %}" id="pass" onclick="passIcon ()">  
          </div>
          
          <div class="rem-me">
                <span>
             <input type="checkbox" name="remember me" id="check">
                 <label >Remember Me</label>
                 </span> 
                 <a href="forget.html" id="f">Forgot Password?</a>
             </div> 
     
     <input class="sub" type="submit" value="Login"> 
                  
            <div class="or" >
          <h3><span>OR</span></h3>
            </div>
    
              </form>
             
             <div class="signupwith">
           <a href=""><img src="{% static 'images/google.svg' %}"> Sign In With Google</a>
           <a  href=""><img src="{% static 'images/facebook.svg' %}"> Sign In With Facebook</a>
       </div> 
             
             <span id="alt">
          <p>Don't have an account?  <a href="{% url 'chunk_it:signup' %}">Sign up</a> </p>
      </span>        
   
                           
          </div>
          
      </div>
      
      
  </div>
  <script src="{% static 'js/index.js' %}"></script>
</body>

</html>