{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Chunk-It Sign-Up</title>
    <link rel="stylesheet" href="{% static 'css/signup.css' %}">
    
    <link rel="preconnect" href="https://fonts.googleapis.com"><link rel="preconnect" href="https://fonts.gstatic.com" crossorigin><link href="https://fonts.googleapis.com/css2?family=Baskervville&display=swap" rel="stylesheet"></head>
<body>
    <div class="signup">
    <div class="left">
     <img src="{% static 'images/bg1.png' %}">  
           </div>
    
    <div class="right">
   <div class="content">
       
       <h1>Create Account</h1>
                    
      <div class="form">
          
          <form action="{% url 'chunk_it:signup' %}" method='POST' >
            {% csrf_token %}
            {{ form.username.errors }}
              <label>{{ form.username.label_tag }}</label><br>
          {{ form.username }}<br>
          
          {{ form.email.errors }}
          <label>{{ form.email.label_tag }}</label><br>
          {{ form.email }}<br>
          
     <div class="password">
        {{ form.password1.errors }} 
        <label>{{ form.password1.label_tag }}</label><br>
        {{ form.password1 }}<img src="{% static 'images/eye-off.svg' %}" id="pass" onclick="passIcon ()">  
</div>
          
       <div class="password1">
        {{ form.password.errors }} 
        <label>{{ form.password2.label_tag }}</label><br>
        {{ form.password2 }}<img src="{% static 'images/eye-off.svg' %}" id="pass1" onclick="passIcon1 ()">  
</div>
           
          
           <input type="submit" class="create" value="Sign Up">
          </form>
                    
      <span id="alt">
          <p>Already have an account?  <a href="{% url 'chunk_it:login' %}">Login</a></p>
      </span>        
   
      <div class="or" >
          <h3><span>OR</span></h3>
      </div>
      
        <div class="signupwith">
           <a href=""><img id="g-icon" src="{% static 'images/google.svg' %}"> Sign Up With Google</a>
           <a id="M" href=""><img src="{% static 'images/facebook.svg' %}"> Sign Up With Facebook</a>
       </div>

     
      </div>   
      
             
   </div>
    </div>
    
    
    
    </div>
    
    <script src="{% static 'js/index.js' %}">
         
    </script>
</body>
</html>