<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Chunk-It Sign-Up</title>
    <link rel="stylesheet" href="signup.css">
    
    <link rel="preconnect" href="https://fonts.googleapis.com"><link rel="preconnect" href="https://fonts.gstatic.com" crossorigin><link href="https://fonts.googleapis.com/css2?family=Baskervville&display=swap" rel="stylesheet"></head>
<body>
    <div class="signup">
    <div class="left">
     <img src="images/bg1.png">  
           </div>
    
    <div class="right">
   <div class="content">
       
       <h1>Create Account</h1>
                    
      <div class="form">
          
          <form action="signin.html" >
              <label>Full Name</label><br>
          <input type="text" placeholder="Mercy Johnson" required><br>
          
          <label>Email Address</label><br>
          <input type="email" placeholder="Enter your email address" required><br>
          
     <div class="password">     <label>Password</label><br>
          <input id="text" type="password" placeholder="Enter your password" required><img src="images/eye-off.svg" id="pass" onclick="passIcon ()">  
</div>
          
       <div class="password1">   <label>Retype Password</label><br>
          <input id="text1" type="password" placeholder="Enter your password" required><img src="images/eye-off.svg" id="pass1" onclick="passIcon1 ()">  
</div>
           
          
           <input type="submit" class="create" value="Sign Up">
          </form>
                    
      <span id="alt">
          <p>Already have an account?  <a href="signin.html">Login</a></p>
      </span>        
   
      <div class="or" >
          <h3><span>OR</span></h3>
      </div>
      
        <div class="signupwith">
           <a href=""><img id="g-icon" src="images/google.svg"> Sign Up With Google</a>
           <a id="M" href=""><img src="images/facebook.svg"> Sign Up With Facebook</a>
       </div>

     
      </div>   
      
             
   </div>
    </div>
    
    
    
    </div>
    
    <script src="index.js">
         
    </script>
</body>
</html>